<div class="views">
    <div class="view view-main">
        <div class="pages navbar-through">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left sliding">
                        <a href="#" class="link icon-only back">
                            <span class="ti-angle-left"></span> &nbsp;Back
                        </a>
                    </div>
                    <div class="center sliding">Invoice Detail</div>
                    <div class="right">
                        <a href="#" data-panel="right" class="link icon-only open-panel">
                            <span class="ti-menu"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div data-page="invoice" class="page">
                <div class="page-content">
                    <div class="content-block">
                        invoice details go here...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
