<h1>TempStars</h1>
<h2>Reset Password</h2>

<section>
  <form action="/reset-password?access_token={{ accessToken }}" method="post">
    <fieldset>
      <legend>Reset Your Password</legend>
      <div>
        <label for="password">Enter new password</label>
        <input type="text" name="password">
      </div>
      <div>
        <label for="confirmation" style="width:200px !important">Re-enter password</label>
        <input type="password" name="confirmation">
      </div>
      <div>
        <input type="submit" value="Reset password">
      </div>
    </fieldset>
  </form>
</section>
