#hygienist-available-job-table tr {
    margin-bottom: 20px;
}

.available-button-row {
	margin-top: 20px;
}

.available-button-row a {
    width: 60%;
    margin-left: 18%;
}

#hygienist-available-job-tooltip {
    display: block;
    text-align: center;
}

#hygienist-available-job-tooltip-desc {
    margin-left: 3px;
    cursor: pointer;
}

#hygienist-available-job-custom-button {
    float: left;
    height: 40px;
    line-height: 37px;
    border-radius: 10px;
}

.hygienist-available-job-custom-button-tooltip-wrapper {
    display: inline-block;
    position: relative;
    top: -10px;
	text-align: left;
}

#hygienist-available-job-custom-button-tooltip {
    display: block;
	position: relative;
    top: -5px;
    width: 120%;
    font-size: 0.6rem;
    margin-left: 0px;
    padding-left: 5px;
    cursor: pointer;
}