#hygienist-available-job-table tr {
    margin-bottom: 20px;
}

.available-button-row {
    text-align: center;
}

.available-button-row a {
    width: 60%;
}

#hygienist-available-job-tooltip {
    display: block;
    text-align: center;
}

#hygienist-available-job-tooltip-desc {
    margin-left: 3px;
    cursor: pointer;
}

.hygienist-available-job-custom-wrapper, .hygienist-available-job-accept-wrapper {
    position: relative;
    display: inline-block;
    width: 60%;
    min-width: 270px;
    margin-top: 10px;
}

#hygienist-available-job-custom-button, #hygienist-available-job-accept-button  {
    float: left;
    display: inline-block;
    width: calc(100% - 70px);
    height: 30px;
    line-height: 26px;
    border-radius: 10px;
    margin-left: 0px;
}

#hygienist-available-job-custom-button-tooltip {
    cursor: pointer;
}

.hygienist-available-job-custom-button-image {
    float: left;
    margin-right: 3px;
    width: 35px;
}