.page[data-page="dentist-home"] .content-block-title {
    margin:4px 15px;
}

.page[data-page="dentist-home"] .content-block {
    margin:0px 0px 20px 0px;
}

.partialring {
    content: " ";
position: absolute;
z-index: -1;
top: 3px;
left: 3px;
right: 3px;
bottom: 3px;
border-radius: 100%;
background: red;
}
