
.page[data-page="dentist-job-partial-details"] .row {
	text-align: center;
}

.page[data-page="dentist-job-partial-details"] .row a {
	height: 35px;
	line-height: 32px;
    font-size: 0.9rem !important;
    border-radius: 10px;
}

#dentist-job-partial-details-accept-button {
	display: inline-block;
	color: #006400;
	border-color: #006400;
}

#dentist-job-partial-details-decline-button {
	display: inline-block;
	color: #e02936;
	border-color: #e02936;
}

#dentist-job-partial-details-expire-time {
	padding: 20px 0px;
	text-align: center;
}

.hygienist-name {
	width: 100%;
	text-align: center;
    font-size: 1.4rem;
}

.hygienist-details-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 10px;
}

.hygienist-details {
	flex: 1;
	text-align: center;
    margin-top: 10px;
}
