#dentist-job-confirmed-table tr {
    margin-bottom: 20px;
}

#dentist-job-confirmed-cancel-button {
	color: #ba322c;
    font-size: 0.9rem;
}

#dentist-job-confirmed-break-button {
	color: #ba322c;
    font-size: 1.0rem;
}

.hygienist-name {
	width: 100%;
	text-align: center;
    font-size: 1.4rem;
}

.hygienist-details-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 10px;
}

.hygienist-details {
	flex: 1;
	text-align: center;
    margin-top: 10px;
}
