.job-box{
    /*max-width:800px;*/
    margin:auto;
    /*padding:10px 20px;*/
    /*border:1px solid #eee;*/
    /*box-shadow:0 0 10px rgba(0, 0, 0, .15);*/
    font-size:14px;
    line-height:16px;
    color:#555;
}

.job-box table{
    width:100%;
    line-height:inherit;
    text-align:left;
}

.job-box table td{
    padding:5px;
    vertical-align:top;
}

.job-box table tr td:nth-child(2){
    text-align:right;
}

.job-box table tr.top table td{
    padding-bottom:0px;
}

.job-box table tr.top table td.title{
    font-size:16px;
    line-height:24px;
    color:#333;
}

.job-box table tr.information table td{
    padding-bottom:40px;
}

.job-box table tr.heading td{
    background:#eee;
    border-bottom:1px solid #ddd;
    font-weight:bold;
}

.job-box table tr.details td{
    padding-bottom:20px;
}

.job-box table tr.item td{
    border-bottom:1px solid #eee;
}

.job-box table tr.item.last td{
    border-bottom:none;
}

.job-box table tr.total td:nth-child(2){
    border-top:2px solid #eee;
    font-weight:bold;
}

@media only screen and (max-width: 600px) {
    .job-box table tr.top table td{
        width:100%;
        display:block;
        text-align:center;
    }

    .job-box table tr.information table td{
        width:100%;
        display:block;
        text-align:center;
    }
}
